



:root {
  
  --luck:white;
  
  }








.conte1{
    position: fixed;
    top:0%;
    background:var(--sub); 
   
    width: 20%;
    height: 100%;
    border-radius:0vw;
    border-top-left-radius: 0vw;  
    border-bottom-left-radius: 0vw;
     
    box-shadow: 1px 1px 5px 2px rgb(0,0,0,0.4); 
    transition: 1s all ease;
    z-index: 99999999999999999999999999;
    }
    
    
    .cont1:hover {width: 25%}
    
    
    
    .conte1:before , .cont:before   {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background:url("../imagenes/soles2.png"); 
    background-size: cover;
    }
    
    
    
    .caja1 {
    position: relative;
    width: 100%;
    height: 26vh;
    background:var(--li1); 
    border-bottom-right-radius:7vw;  
    border-right:3.3px solid white ;
    border-bottom:3.3px solid white; 
    display: flex;
    justify-content: center;
    }
    
    
     .caja2{
    position: relative;
    width: 21vh;
    top:0%;
    border-radius: 20vw; 
    height: 21vh;
    left:0%;
    margin:1.7vh 0vh 0vh 0vh; 
    background:url("../imagenes/edgar2.png") ; 
    background-size:cover; 
    border:3px solid white;
    box-shadow: 0px 0px 0px 0px rgb(10,10,10,10) inset; 
    
    
    
    }
    
    
            .caja3{
            position:relative;
            width:100%;
            height:max-content;
            
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-family: Segoe UI Symbol;
            
            }
    
    
    
    h3 {
    margin: 0.6vw 0vw 0.3vw 0vw;
    padding-left: 0.5vw;
     width: 70%; 
    
    color:white;
     font-size: 1.5vw;
    border-left: 3px solid white;
    text-shadow: 0px 0px 1px  rgb(0,0,0,0.3);
    padding-top:1vh;
    padding-bottom:1vh;
    }
    
    .caja3 i {
    
    color:white;
    font-weight: 1000;
    margin: 0.8vw ;
    padding:0.8vw ;
    font-size:1.3vw; 
    border-radius: 20vw;
    background:purple;
    border:2px solid white;
     
    }
    
    
            .pante {
            position: relative;
            width: 100%;
            height: 100%;
           
           
            
            
            }
    
    
    
    
                  .largo{
                    position:relative;
                    width:100%;
                    height:100%;
                   
                    }
    
    
    .menu {
    position: relative;
    width: 100%;
    height: max-content;
    padding:1.3vh 0vh 1.3vh 0vh; 
   
    
    
    }
    
    
    .menu  p {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    background:rgb(12,137,214,0.0);
    align-items: center;
    font-size: 1.3vw;
    color:white;
    cursor: pointer;
    padding:2.3vh 0vh 2.3vh 0vh;
    margin: 0vh 0vh 0vh 0vh; 
    border-bottom:0.5vh solid rgb(0,0,0,0.0);
    text-shadow: 0px 0px 1px white;
  
    }

    
    .menu p:hover {
    background:rgb(17,120,210,0.5); 
    
    border-bottom:0.5vh solid gold;
   
  }



    
  .menu p:hover:before {
   background:gold ;
   
}
    
    
    
    .menu p:before {
        content: "";
    position: relative;
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 20vw;
    background:white; 
    margin-left:  2.5vw;
    margin-right:  1vw;
    
    }
    
    

.contenedor-slider{
    position: relative;
    
    width: 20vw;
    height:18vh;
   left:0;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center; 
     box-shadow: 1px 1px 4px 2px rgb(0,0,0,0.2);
    z-index: 999990000;
margin-bottom: 	2vh ;

    }
    
    
    
  
    
        .contenedor-slider .item-slide .eleccion1 , .eleccion2 , .eleccion3 {
            position: relative;;
          width:20vw ;
           height: 18vh;
           background:url("../imagenes/visa3.png");
           background-size: cover;
    }



















    .pagination-item .eleccion1 {
    max-width: 100%;
   
    
    }
    
    
    
     .container-all{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
overflow:hidden; 
    
    
    }
    
    .slide {
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name:autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;   
    
    }
    
    
    .slidetu {
      display: flex;
      transform: translate3d(0,0,0);
      transition: all 600ms;
      animation-name:autoplay;
      animation-duration: 6.5s;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      animation-iteration-count:infinite;   
      
      }
    
    
    .item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink:0;
    flex-grow: 0;
    max-width: 100%; 
    
    }
    
    .pagination {
    position:relative;
    top:0vh;
    left:0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    z-index: 99999999999999;
    
    border-bottom-right-radius:2vw; 
    }
    
    
    .pagination-item {
    display: flex;
    flex-direction:column; 
    align-items: center;
    border:3px solid gold;
    width: 4vw;
    height: 2vw;
    border-radius: 15%;
    overflow: hidden;
    cursor: pointer;
    background: rgb(255,255,255,1);
    margin:0vw 0.6vw 1.3vw 0.6vw;
    text-align:center;
    transition: all 300ms;    
    
    }
    
    
    .pagination-item:hover {
    transform: scale(2);
    width: 3.7vw;
    height: 2vw;
    border-radius: 0;
    border:2px solid white; 
    }
    
    
    .pagination-item img {
    display: inline-block;
    max-width: none ;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
    
    
    }
    
    
    .pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
    
    
    }
    
  


  input[id="1"]:checked ~ .slide {
    animation:none;
    transform: translate3d(0,0,0); 
    
    
    }
    

      


    
    input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background:crimson; 

    
    }
    
    
    
    input[id="2"]:checked ~ .slide   {
    animation:none;
    transform: translate3d(calc(-100% * 1) , 0 , 0); 
    
    
    }

    
    
    
    input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background:rgb(255,70,0,1); 
    
    }
    
    
    
    
    input[id="3"]:checked ~ .slide {
    animation:none;
    transform: translate3d(calc(-100% * 2), 0 ,0 );  
    
    
    }
    



    
    input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background:rgb(255,70,0,1); 
    
    }
    


    
    .muestra1 , .muestra2 , .muestra3 , .muestra4 {
        width: 100%;
         height: 100%;
         background:url("../imagenes/visa1.png");
         background-size: cover;
        
  }


  .muestra2{
background:url("../imagenes/visa2.png");
         background-size: cover;
}


.muestra3{
    background:url("../imagenes/visa3.png");
             background-size: cover;
    }
    
    
    
  .muestra4{
    background:url("../imagenes/visa4.png");
             background-size: cover;
    }
    
    







    @media screen and (max-width: 380px) {

.conte1 {
display: none;
}

    }




























 






























    
    
    
    
    



      
      
      





    









































































