
        
        .ofer {
            position: relative;
            width: 100%;
            height: 50vh;
            display: flex;  
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 25vh;
            }
            
            
            
            .ofer:before {
              content: "";
            position: absolute;
            width: 100%;
            height: 50vh;
           
            display: flex;
            border-top:4px solid rgb(15,132,203,1);
            border-bottom: 4px solid rgb(15,132,203,1);
            box-shadow: 1px 1px 4px 2px rgb(0,0,0,0.3);
             z-index: 999999999;
            
            }
            
            
            
            
            .ofer1 {
            position: relative;
            width: 35%;
            height: 100%;
            background:url("../imagenes/blues57.png");
            z-index: 999;
            background-size: cover; 
            
            
            } 
            
            
            .ofer2 {
            position: relative;
            width: 65%;
            height:100%;
            background:url("../imagenes/club.svg"); 
            z-index: 999;
            background-size: cover;
            }
            
            .ofer2 p{
            
            position: relative;
            font-size: 3vw;
            font-family: Segoe UI Symbol;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
           
            color:#2d4262;
            
            }
    

            

    @media screen and (max-width: 380px) {


.ofer {
height:max-content;
}


.ofer:before {
  content: "";
position: absolute;
width: 100%;
height: 85vh;


}


      .ofer1  {
      width: 100%;
     height: 50vh;
        
      }


      .ofer2  {
        width: 100%;
       height: 35vh;
          
        }

      }