



:root {
  
    --luck:white;
    
    }
  
  
  
  
  
  
  
  
  .conte1{
      position: fixed;
      top:0%;
      background:var(--sub); 
     
      width: 20%;
      height: 100%;
      border-radius:0vw;
      border-top-left-radius: 0vw;  
      border-bottom-left-radius: 0vw;
       
      box-shadow: 1px 1px 5px 2px rgb(0,0,0,0.4); 
      transition: 1s all ease;
      z-index: 99999999999999999999999999;
      }
      
      
      .cont1:hover {width: 25%}
      
      
      
      .conte1:before , .cont:before   {
      content:"";
      position: absolute;
      width: 100%;
      height: 100%;
      background:url("../imagenes/soles2.png"); 
      background-size: cover;
      }
      
      
      
      .caja1 {
      position: relative;
      width: 100%;
      height: 26vh;
      background:var(--li1); 
      border-bottom-right-radius:7vw;  
      border-right:3.3px solid white ;
      border-bottom:3.3px solid white; 
      display: flex;
      justify-content: center;
      }
      
      
       .caja2{
      position: relative;
      width: 21vh;
      top:0%;
      border-radius: 20vw; 
      height: 21vh;
      left:0%;
      margin:1.7vh 0vh 0vh 0vh; 
      background:url("../imagenes/edgar2.png") ; 
      background-size:cover; 
      border:3px solid white;
      box-shadow: 0px 0px 0px 0px rgb(10,10,10,10) inset; 
      
      
      
      }
      
      
              .caja3{
              position:relative;
              width:100%;
              height:max-content;
              
              
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              font-family: Segoe UI Symbol;
              
              }
      
      
      
      h3 {
      margin: 0.6vw 0vw 0.3vw 0vw;
      padding-left: 0.5vw;
       width: 70%; 
      
      color:white;
       font-size: 1.5vw;
      border-left: 3px solid white;
      text-shadow: 0px 0px 1px  rgb(0,0,0,0.3);
      padding-top:1vh;
      padding-bottom:1vh;
      }
      
      .caja3 i {
      
      color:white;
      font-weight: 1000;
      margin: 0.8vw ;
      padding:0.8vw ;
      font-size:1.3vw; 
      border-radius: 20vw;
      background:purple;
      border:2px solid white;
       
      }
      
      
              .pante {
              position: relative;
              width: 100%;
              height: 100%;
             
              
              
              
              }
      
      
      
      
                    .largo{
                      position:relative;
                      width:100%;
                      height:100%;
                      background:;
                      }
      
      
      .menu {
      position: relative;
      width: 100%;
      height: max-content;
      padding:1.3vh 0vh 1.3vh 0vh; 
    
      
      
      }
      
      
      .menu p {
      position: relative;
      width: 100%;
      height: max-content;
      display: flex;
      background:rgb(12,137,214,0.0);
      align-items: center;
      font-size: 1.3vw;
      color:white;
      cursor: pointer;
      padding:2.3vh 0vh 2.3vh 0vh;
      margin: 0vh 0vh 0vh 0vh; 
      border-bottom:0.5vh solid rgb(0,0,0,0.0);
      text-shadow: 0px 0px 1px white;
      }
      
      .menu p:hover {
      background:rgb(17,120,210,0.5); 
      
      border-bottom:0.5vh solid gold;
    }
  
  
  
      
    .menu p:hover:before {
     background:gold ;
  
  }
      
      
      
      .menu p:before {
          content: "";
      position: relative;
      width: 0.6vw;
      height: 0.6vw;
      border-radius: 20vw;
      background:white; 
      margin-left:  2.5vw;
      margin-right:  1vw;
      
      }
      
      
  
  .contenedor-slider{
      position: relative;
      
      width: 20vw;
      height:18vh;
     left:0;
      background-size: cover; 
      display: flex;
      justify-content: center;
      align-items: center; 
       box-shadow: 1px 1px 4px 2px rgb(0,0,0,0.2);
      z-index: 999990000;
  margin-bottom: 	2vh ;
  
      }
      
      
      
    
      
          .contenedor-slider .item-slide .eleccion1 , .eleccion2 , .eleccion3 {
              position: relative;;
            width:20vw ;
             height: 18vh;
             background:url("../imagenes/visa3.png");
             background-size: cover;
      }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      .pagination-item .eleccion1 {
      max-width: 100%;
     
      
      }
      
      
      
       .container-all{
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 6px;
  overflow:hidden; 
      
      
      }
      
      .slide {
      display: flex;
      transform: translate3d(0,0,0);
      transition: all 600ms;
      animation-name:autoplay;
      animation-duration: 6.5s;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      animation-iteration-count:infinite;   
      
      }
      
      
      .slidetu {
        display: flex;
        transform: translate3d(0,0,0);
        transition: all 600ms;
        animation-name:autoplay;
        animation-duration: 6.5s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-iteration-count:infinite;   
        
        }
      
      
      .item-slide {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink:0;
      flex-grow: 0;
      max-width: 100%; 
      
      }
      
      .pagination {
      position:relative;
      top:0vh;
      left:0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: max-content;
      z-index: 99999999999999;
      
      border-bottom-right-radius:2vw; 
      }
      
      
      .pagination-item {
      display: flex;
      flex-direction:column; 
      align-items: center;
      border:3px solid gold;
      width: 4vw;
      height: 2vw;
      border-radius: 15%;
      overflow: hidden;
      cursor: pointer;
      background: rgb(255,255,255,1);
      margin:0vw 0.6vw 1.3vw 0.6vw;
      text-align:center;
      transition: all 300ms;    
      
      }
      
      
      .pagination-item:hover {
      transform: scale(2);
      width: 3.7vw;
      height: 2vw;
      border-radius: 0;
      border:2px solid white; 
      }
      
      
      .pagination-item img {
      display: inline-block;
      max-width: none ;
      height: 100%;
      transform: scale(1);
      opacity: 0;
      transition: all 300ms;
      
      
      }
      
      
      .pagination-item:hover img {
      opacity: 1;
      transform: scale(1);
      
      
      }
      
    
  
  
    input[id="1"]:checked ~ .slide {
      animation:none;
      transform: translate3d(0,0,0); 
      
      
      }
      
  
        
  
  
      
      input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
      background:crimson; 
  
      
      }
      
      
      
      input[id="2"]:checked ~ .slide   {
      animation:none;
      transform: translate3d(calc(-100% * 1) , 0 , 0); 
      
      
      }
  
      
      
      
      input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
      background:rgb(255,70,0,1); 
      
      }
      
      
      
      
      input[id="3"]:checked ~ .slide {
      animation:none;
      transform: translate3d(calc(-100% * 2), 0 ,0 );  
      
      
      }
      
  
  
  
      
      input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
      background:rgb(255,70,0,1); 
      
      }
      
  
  
      
      .muestra1 , .muestra2 , .muestra3 , .muestra4 {
          width: 100%;
           height: 100%;
           background:url("../imagenes/visa1.png");
           background-size: cover;
          
    }
  
  
    .muestra2{
  background:url("../imagenes/visa2.png");
           background-size: cover;
  }
  
  
  .muestra3{
      background:url("../imagenes/visa3.png");
               background-size: cover;
      }
      
      
      
    .muestra4{
      background:url("../imagenes/visa4.png");
               background-size: cover;
      }
      
      
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .esperas {
    position: relative;
          width: 40%; 
          height: 100%;
          display:flex;
          justify-content: center;
          align-content: center;
          flex-wrap: wrap;
        
          font-size: 1.7vw;
        z-index: 200000000000000000000;
        font-weight: 100;
  
  }
  
  .esperas .conte-icou {
    position: relative;
    width: max-content; 
    height: max-content;
    padding-left:1%;
  
  
  margin-top:2% ;
  display: flex;
  justify-self: center;
  align-items: center;
  
  }
  
  
  .esperas p {
    position: relative;
    width: max-content; 
    height: max-content;
   
    padding-left:0.4vw;
   margin: 0vw 0vw 0vw 0vw;
   margin: 2.2% 0vw 2.2% 0vw;
   border-bottom:0px solid gold;
   border-left:0.5vh solid gold;
   transform: skew(-7deg);
  
  }
  
  .ipo {
  
    position: relative;
    width: 100%; 
    height:max-content;
    
  }
  
  
  .ipo p {
  font-size: 1.3vw;
  border-left:0vh solid gold;
  border-bottom:0vh solid gold;
  transform: skew(-7deg);
  border-bottom:3px solid white;
  padding-bottom:1vh;
  
  text-shadow: 0px 0px 1px white;
  }
  
  
  .ipo i {
    padding:0.5vw;
    background:var(--sub);
    border-radius: 20vw;
    margin:0vw 0.5vw 0vw 0.5vw;
    font-size: 1.3vw;
    border:0.2vw solid gold;
  
    
    }
  
  
  
  
      .over {
          position: relative;
          width: 100vw;
          height: 100vh;
          overflow-x: hidden;
       
          
          
          }
  
       
      .rober {
        position: relative;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(120deg,aqua,orange);
     
        
        
        }
  
      
  
          .contede2 {
   
   
            position: relative;
            width:300%;
            height:max-content;
            display:flex;
          
         }
  
         .contio {
   
   
          position: relative;
          width:10%;
          height:30vh;
          display:flex;
        
       }
        
        
        .de2{
        display:flex;
        transform: translate3d(0,0,0);
        }
        
                
  
  
  
          
          .spa{
          position: relative;
          top:0%;
          
          width: 20vw;
          height: 100vh;
          border-radius:0vw;
          border-top-left-radius: 0vw;  
          border-bottom-left-radius: 0vw;
           
          box-shadow: 1px 1px 5px 2px rgb(0,0,0,0.4); 
          transition: 1s all ease;
          z-index:;
          }
          
          
          
          
          .conte2 {
          
          position: relative;
          width: 79.2vw;
          height: 160vh;
          margin-left:0.8vw;
          
          
          background:var(--luck);
          }
          
          
          
          .pru{
          position: relative;
          width: 100%;
          height: 40vh;
          background:green; 
          
          
          }
          
          
          
          .capsula1 {
          position:relative;
          width:100%;
          height:max-content;   
          height:40vh; 
          background:var(--sub);
          background-size: cover;
          
          color:white;
          font-size: 1.3vw;
          font-family: Segoe UI Symbol;
          font-weight: 1000; 
          animation: move 15s infinite;
           border-bottom: 5px solid gold ; 
           
          
          }
          
          
          
          .capsula1:before    {
            content: "";
              position:absolute;
              width:100%;
              height:100%;
              left:0%;
              background:url("../imagenes/ludi1.png");
              background-size: cover;
              clip-path: polygon(40% 0, 100% 0, 100% 100%, 20% 100%);
     
              } 
          
          
          
          .capsula1:after     {
            content: "";
              position:absolute;
              width:100%;
              height:100%;
              top:-0%;
              left:0%;
              background:url("../imagenes/cap5.svg");
              background-size: cover;
          z-index: 88888888888888888888888888;
              } 
          
          .capsula1 .tuya {
            position: relative;
          color:white;
          width: 42%;
          height: 80%;
        
          font-size:2vw ;
         
          font-family:  Segoe UI Symbol; 
      
          display: flex;
          justify-content: center;
          align-items: center;
          transform: skew(-15deg);
          text-decoration: underline;
          }
          
          
          
          .canva  {
          position: relative;
          width: 99.7%;
          height: max-content;
  
          display: flex;
          justify-content: center;
          align-items: center;
          color: crimson;
          font-family:Segoe UI Symbol;
          font-size: 1.4vw;
          font-weight:1000; 
          text-decoration: underline;
          background:black;
          background-clip:text;
  -webkit-text-fill-color:transparent; 
         
          z-index: 999999999999999999999999;
          transform: skew(-8deg);
          }
          
          
          .canva:before   {
            content: "";
          position: absolute;
          left:0%;
          width: 36%;
          height: 1vh; 
          background:#2d4262; 
          border-top-right-radius:20vw ;
          border-bottom-right-radius:20vw ;
          }
          
          
          
          .canva:after  {
            content: "";
          position: absolute;
          right:0%;
          width: 36%;
          height: 1vh; 
          background:#2d4262; 
          border-top-left-radius:20vw ;
          border-bottom-left-radius:20vw ; 
          }
                
          
          
          
          .jup1 , .jup11{
          
               position: relative;
               width: 100%;
               height: max-content;
               left:0%;
               
         
               display: flex;
               justify-content: center;
               align-items: center;
               flex-wrap: wrap;
               border-bottom-left-radius:2vw ;
               border-bottom-right-radius:2vw;  
             padding-top:10vh; 
          
          }
          
          
          .jup11 {
          padding-bottom: 15vh;
          
          
          } 
          
          
          
          
          
          .jup2 {
          position: relative;
          width: 50%;
          height: max-content;
         
          display:  flex;
          justify-content: center;
          align-items: center;
          font-size: 1.3vw;
          font-family:Segoe UI Symbol;
          padding-bottom: 20vh;
          
          }
          
          
          .jup2 p {
          padding:0vw 2vw 0vw 2vw;
          color:black;
          
          
          }
          
          
          
          .jup2 i {
          position: absolute;
          top:-5.4vw;
          font-size:2.2vw;
          width:5.4vw;
          height:5.4vw; 
          color:white;
          background:var(--sub);
          border-radius: 20vw; 
          box-shadow: 1px 1px 4px 2px rgb(0,0,0,0.3);  
          display: flex;
          justify-content: center;
          align-items: center;
          }
          
          
          
          
          .ofer {
          position: relative;
          width: 100%;
          height: 50vh;
          display: flex;  
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          padding-bottom: 25vh;
          }
          
          
          
          .ofer:before {
            content: "";
          position: absolute;
          width: 100%;
          height: 50vh;
         
          display: flex;
          border-top:4px solid rgb(15,132,203,1);
          border-bottom: 4px solid rgb(15,132,203,1);
          box-shadow: 1px 1px 4px 2px rgb(0,0,0,0.3);
           z-index: 999999999;
          
          }
          
          
          
          
          .ofer1 {
          position: relative;
          width: 35%;
          height: 100%;
          background:url("../imagenes/blues57.png");
          z-index: 999;
          background-size: cover; 
          
          
          } 
          
          
          .ofer2 {
          position: relative;
          width: 65%;
          height:100%;
          background:url("../imagenes/club.svg"); 
          z-index: 999;
          background-size: cover;
          }
          
          .ofer2 p{
          
          position: relative;
          font-size: 3vw;
          font-family: Segoe UI Symbol;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
         
          color:#2d4262;
          
          }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      
          .conterus {
            position: relative;
            width: 100%;
            height:max-content;
            background:var(--sub); 
            box-shadow: -1px 1px 4px 2px rgb(0,0,0,0.3) inset;
            padding-bottom: 7%;
           
            }
            
            
            .conte-caja1 {
              position: relative;
            width: 100%;
            height:100vh;
            
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 5vh;
            
            }
            
            
            .conte-caja1-img-r {
              position: relative;
            width: 67%; 
            height: 100vh;
            background:white ;
            border-top-right-radius:15vw  ;
            border-bottom-right-radius:50vw ;
            display: flex;
            align-items: center ;
            overflow:hidden; 
             
            box-shadow: 0px 0px 4px 2px grey;
            
            
            }
            
            .conte-caja1-img-r:before     {
              content:"";
                position:absolute;
            
                width:56vw;
                height:38vw;
                background:url("../imagenes/visa13.png");
                background-size: cover;
                }
            
            
            
            
            
            
            .conte-caja1-text {
            position: relative;
            width: 30%;
            height: max-content;
           
            padding-left: 3%; 
            
            
            }
            
            .conte-caja1-text p  {
            position: relative;
            width: 95%;
            height: max-content;
            margin:6vh 0vh 0vh 0vh;  
         
            color:white;
            font-family: Segoe UI Symbol; 
            font-size: 1.25vw; 
            }
            
            
            
            
            
            .conte-caja1-img-c {
              position:relative;
              top:5%;
              right: 0%;
            width: 65%;
            height: 80vh;
            background:white; 
            border-top-left-radius:20vw  ;
            border-bottom-left-radius:5vw ;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left:2%; 
              
            box-shadow: 0px 0px 4px 2px grey;
            }
            
            .conte-caja1-img-c:before     {
              content:"";
                position:absolute;
            right: 0%;
                width:50vw;
                height:30vw;
                background:url("../imagenes/code1.svg");
                background-size: cover;
                box-shadow: -1px -1px 4px 2px rgb(0,0,0,0.3);
                }
            
            
            
            
            
            
            
            .conte-caja1-animacion , .conte-caja1-animacion-conte-texto , .conte-caja1-animacion-conte-texto{
            
            position: relative;
            width: 50%;
            height: 100%;
           
            display: flex;
            justify-content: center;
            align-items: center;
            
            }
            
            
            
            .contenedor-animacion{
                  position: relative;
                  width: 100%;
                  height: 90%;
                  box-shadow: 1px 1px 4px 2px rgb(0,0,0,0.2);
                  
                   
            
            
            
            
            }
            
            
            
            
            .imagen1 {position: relative;
            width: 100%;
            height: 100%;
            background:url("../imagenes/an7.png"); 
            background-size: cover;
            animation: listo 20s alternate infinite; animation-delay: 4s;
  
          }
      
            
            @keyframes listo {
            
              0% {background:url("../imagenes/pro6.png");background-size: cover; }
               20% {background:url("../imagenes/pro6.png");background-size: cover; }
               22% {background:url("../imagenes/pro2.png");background-size: cover; }
               60% {background:url("../imagenes/pro2.png");background-size: cover; }
               62% {background:url("../imagenes/pro1.png");background-size: cover; }
              100% {background:url("../imagenes/pro1.png");background-size: cover; }
              
            
             
            }
            
            
            
            
            
            
            .conte-caja1-animacion-conte-texto-y-puntos {
            position: relative;
            width: 92%;
            height:100vh;
            background:url("../imagenes/cooll7.png"); 
            background-size:cover;
            box-shadow:1px 1px 5px 3px rgb(0,0,0,0.3); 
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap; 
            }
            
            .conte-caja1-animacion-conte-texto-y-puntos:before {
              content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background:rgb(0,0,0,0.65); 
            
            }
            
            
            .conte-caja1-animacion-conte-texto-y-puntos p {
            position: relative;
            width: 85%;
            height: max-content;
            margin:0vh 0vh 0vh 0vh; 
            border-bottom: 2px solid white ;
            color:white;
            font-family: Segoe UI Symbol; 
            font-size: 1.2vw; 
            padding:0.7vw; 
            padding-bottom: 0.9vw;  
            }
            
            
            
            
            
            
            
            .conte-caja1-animacion-conte-texto-y-puntos  .punto {
            position: relative;
            font-size: 2vw;
            padding:0.5vw;
            top:0%;
            background:white;  
            width: 1.5vw;
            height: 1.5vw;  
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right:0.3vw; 
            border-radius: 20vw;
            border:2.5px solid #2d4262; 
            color:#2d4262;
            }
            
            
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
          
  .proyectos {
    position: relative;
    width: 100%;
    height: max-content;
    top:0vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    
    }
    
    .paz1 , .paz2 , .paz3 , .paz4 , .paz5 , .paz6 , .paz7 , .paz8 	{
    position: relative;
    width: 36%;
    height: 28vh;
    background:url("../imagenes/one.png");
    background-size: cover; 
    margin:0.3%;
    transition: 0.5s all ease;
    } 
    
    
    
    .paz2 	{
    background:url("../imagenes/two.png");
    background-size: cover;
    
    }
    
    
    .paz3 	{
    background:url("../imagenes/dom.png");
    background-size: cover;
    width: 24%;
    }
    
    
    .paz4 	{
    background:url("../imagenes/visa3.png");
    background-size: cover;
    
    }
    
    
    .paz5	{
    background:url("../imagenes/visa6.png");
    background-size: cover;
    
    }
    
    
    .paz6 	{
      
    width: 24%;
    overflow: hidden;
    }
    
    .paz6:before {
    content:"";
    width: 100%;
    height: 200%;
    position:absolute;
    background:url("../imagenes/dom.png");
    background-size: cover;
    top:-100%;
    left:-0%;
    }
    
    
    
    .paz7 	{
    background:url("../imagenes/visa1.png");
    background-size: cover;
    
    }
    
    
    
    .paz8 	{
      
    width: 24%;
    overflow: hidden;
    background:white; 
    }
    
    .paz8:before {
    content:"";
    width: 100%;
    height: 100%;
    position:absolute;
    background:url("../imagenes/visa2.png");
    background-size: cover;
    left:0%;
    
    }
          
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      
      
      
      
      
  
  
  
  
  
    .viplay {
      position: relative;
      width: 100%;
      height:max-content;
      background:white ; 
      border-bottom:3px solid white; 
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
      padding-bottom:15vh; 
      }
      
  
  
      .vide1 , .vide2  , .vide3 , .vide4 , .vide5 , .vide6 {
        position: relative;
        width: 21vw;
        height: 23vh;
        margin:4vw 2vw 0vw 2vw; 
        box-shadow: 0.8px 0.8px 4px 2px rgb(160,160,160,0.5) ;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
        }
        
        
        
        
        
        
        
        
        
        a {
        position:absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        }
        
        
        
        .vide1 .diseño , .vide2 .diseño , .vide3 .diseño , .vide4 .diseño , .vide5 .diseño , .vide6 .diseño{
        position: relative;
        width: 92%;
        height: 85%;
        background:url("../imagenes/play1.png");background-size: cover; 
        z-index: 1000;
        box-shadow: 0px 0px 0.1vh 0.25vh white inset; 
        border:3px solid rgb(160,160,160,0.5); 
        
        
        }
        
        
        
        .vide2 .diseño {background:url("../imagenes/play2.png");background-size: cover;}
        
        .vide3 .diseño {background:url("../imagenes/play3.png");background-size: cover;}
        
        .vide4 .diseño {background:url("../imagenes/play4.png");background-size: cover;}
        
        
        .vide5 .diseño {background:url("../imagenes/play5.png");background-size: cover;}
        
        .vide6 .diseño {background:url("../imagenes/play6.png");background-size: cover;}
        
        
        
        
        
        
        .rayos {
          position:absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
        
        display: flex;
        
         align-items: flex-end;
        font-size: 1vw;
        color:white;
        opacity: 1;
        cursor:pointer;
        }
        
        
        .rayos:hover {
        opacity: 1;
        
        }
        
        
        .rayos i {
          position:relative;
          width: 1.8vw;
          height: 1.8vw;
        border:0.32vh solid white ;
        border-radius: 20vw;  
        display: flex;
        justify-content: center;
        align-items: center;
        margin:8%; 
        
        }
        
        .rayos p {
          position: absolute;
        margin:0vw 0vw 0vw 0vw;
        padding:0vw 0vw 0% 0%; 
        font-size:1.2vw; 
        font-weight: 1000; 
        font-family: Segoe UI Symbol;
        top:102%;
        color:rgb(60,65,70,1);
        
        width: 100%;
        display: flex;
        justify-content: center; 
        text-decoration: underline;
        }
        
        
        
        
        
  
  
  
  
  
      
  
  
  
  
  
  
  
  
  
  
        .footer {
          position: relative;
          width: 100%;
          height: 45vh;
          background:var(--sub); 
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          box-shadow: 0px 0px 4px 2px rgb(0,0,0,0.3);
          
          }
          
          .logo {
          position: absolute;
          width: 15vw;
          height: 15vw;
          left:0%;
          background:url("../imagenes/logo21.png");
          background-size: cover; 
          border-radius: 20vw;
          margin:1.5%;
          box-shadow: 1px 1px 4px 2px rgb(0,0,0,0.3);
          
          }
          
          .dibu {
            position:absolute;
                width: 20vw;
                height: 25vh;
                
           
          background:white;
          background-size: cover;
          box-shadow: 0.8px 0.8px 4px 2px rgb(160,160,160,0.2);
          display: flex;
          justify-content: center;
          align-items: center;
          bottom:7%;
          right:  -20%;
          }
          
          
          
          .dibu img{
          
          
          position: relative;
          width: 92%;
          height: 85%;
          background:url("../imagenes/play4.png");
          background-size:cover; 
          z-index: 1000;
          box-shadow: 0px 0px 5px 3px rgb(160,160,160,0.7) inset; 
          border:3px solid rgb(160,160,160,0.2);
          
          
          
          }
          
          
          .seguime {
          position: relative;
          width: 30%;
          height: 115%;
          padding:0% 1% 0% 1%; 
           
          font-family:  Segoe UI Symbol;
          background:var(--sub);
          box-shadow: 0px 0px 4px 2px rgb(0,0,0,0.3);
          z-index: 99999999999999;
          }
          
          .seguime p	{
            width: 85%;
          position: relative;
          font-size: 1.2vw;
          color:white;
          
          
          
          }
          
          .mercistyle {
          position: relative;
          width: 35%;
          height: 110%;
          padding:0% 1% 0% 1%; 
          font-family: Segoe UI Symbol;
          background:var(--sub);
          box-shadow: 0px 0px 4px 2px rgb(0,0,0,0.3);
          
          
          }
          
          
          .mercistyle p	{
          position: relative;
          width: 85%;
          font-size: 1.2vw;
          color:white;
          
          
          
          }
          
          .mercistyle  i {
          position:relative;
          font-size:5.1vw;
          color:white; 
          width: 100%;
          border-bottom:0.2vh solid white; 
          }
          
          .mercistyle .cajaimagen1 {
          position: absolute;
          width: 13vw;
          height: 13vh; 
          bottom: 4%;
          right:-10%; 
          background:white;
          background-size: cover;
          box-shadow: 0.8px 0.8px 4px 2px rgb(160,160,160,0.2);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 99999999999900;
          
          overflow:hidden;  
          }
          
          .mercistyle .cajaimagen1:before {
          content:"";
          position: relative;
          width: 92%;
          height: 85%;
          background:url("../imagenes/play4.png"); 
          background-size:cover; 
          z-index: 1000;
          box-shadow: 0px 0px 5px 3px rgb(160,160,160,0.7) inset; 
          border:3px solid rgb(160,160,160,0.2);
          
          
          }
          
          
          .seguime-icons {
          position: relative;
          width: 100%;
          height: max-content;
          
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          }
          
          .seguime-icons i {
          position: relative;
          font-size: 3.5vw;
          color:white; 
          margin-left:5%; 
          
          }
          
          
          .seguime .fa-envelope {
            position: relative;
            
          font-size: 2vw;
          margin-right: 2%;
          color:white;
          }
          
          .disco {
          position: absolute;
          width: 97%;
          height: max-content;
       
          display: flex;	
          justify-content: flex-end;
          align-items: center;
          border-top:0.2vh solid white;
          
          }
  
  
  
  
  capsula1
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
          .conte-conocimientos  {
            position: relative;
            width: 100%;
            height:100vh;
            background:url("../imagenes/cooll7.png");
                background-size:cover; 
                
          border-top-right-radius:0vw ;
          border-bottom-left-radius:0vw ;
            overflow: hidden;
            display: flex;
            align-items: center;
            
            
            }
  
            .conte-conocimientos:before  {
              content: "";
              position: absolute;
              width: 100%;
              height:100%;
              background:linear-gradient(120deg,rgb(23,128,193,0.7),rgb(41,115,202,0.9));
                  background-size:cover; 
                  
              
              display: flex;
              align-items: center;
              
              
              }
            
            
            
            
            .framework1 , .framework2  {
            
            position: relative;
            width:5.5vw;
            height:5.5vw;
            background:url("../imagenes/react3.png");
            background-size:cover;
            border-radius: 50vw;
            margin:3.5vh 0vh 0.5vh 0vh ;
            display:flex;
            justify-content: center;
            align-items: center;
            }
            
  .framework2 {
    background:url("../imagenes/angular2.png");
    background-size:cover;
  
  
  }
  
            .framework1::before {
            content:"React";
            position: absolute;
            left:120%;
            font-family: Segoe UI Symbol;
            color:white;
            font-size: 1.3vw;
            }
  
  
            .framework2::before {
              content:"Angular";
              position: absolute;
              left:120%;
              font-family: Segoe UI Symbol;
              color:white;
              font-size: 1.3vw;
              }
            
            
            .conte-conoci1 {
              position: relative;
            width: 60%;
            height: 80vh; 
             
            top:5%;
            
            }
            
            .aqui , .aqui2 , .aqui3 , .aqui5 {
            position: relative;
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            font-weight: 1000;
            margin-bottom:0vh; 
            }
            
            
            .aqui4 {
            position: relative;
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            
            font-weight: 1000;
             margin-bottom:0vh;
            }
            
            
            
            .aqui p {
              position: relative;
            font-size: 1.7vw;
            color:white;
            font-family: Segoe UI Symbol;
            left:-0%;
            padding-bottom:1vh; 
            border-bottom: 2px solid white; 
            }
            
            
            .aqui2 p {
              position: relative;
            font-size: 1.7vw;
            color:white;
            font-family: Segoe UI Symbol;
            left:-10%;
            border-bottom: 2px solid white; 
            padding-bottom:1vh; 
            }
            
            
            .aqui3 p {
              position: relative;
            font-size: 1.7vw;
            color:white;
            font-family: Segoe UI Symbol;
            left:-16%;
            border-bottom: 2px solid white; 
            padding-bottom:1vh; 
            }
            
            
            
            .aqui4 p {
              position: relative;
            font-size: 1.7vw;
            color:white;
            font-family: Segoe UI Symbol;
            left:-24%;
            border-bottom: 2px solid white; 
            padding-bottom:1vh; 
            }
            
            
            
            .aqui5 p {
              position: relative;
            font-size: 1.7vw;
            color:white;
            font-family: Segoe UI Symbol;
            left:-32%;
            height: max-content;
            margin-bottom: 0vh;
            border-bottom: 2px solid white; 
            padding-bottom:1vh; 
            }
            
            .conocimientos {
            position: relative;
            width: 20%;
            top:5%;
            height: max-content;
             
            display: flex;
            }
            
            
            .conocimientos-caja1    {
                position:relative;
                width:50%;
                height:80vh;
                left:10%;
                    
                }
            
            
            
            
            
            .conocimientos-caja1 p{
            position: relative;
            width: 100%;
            height: 8%; 
            margin:0vw 0vw 0vw 0vw;
            padding:0vw 0vw 0vw 0vw;  
            display: flex;
            justify-content: center;
            align-items: center;
            clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
            color:white;
            
            }
         
            
            
            .conocimientos-caja1 .pra0{
            position: relative;
            width: 100%;
            height: 8%;
            background:url("../imagenes/html2.png");
            background-size:cover; 
            margin:0vw 0vw 0vw 0vw;
            padding:0vw 0vw 0vw 0vw;  
            display: flex;
            justify-content: center;
            align-items: center;
            clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
            color:white;
            }
              
            
            .conocimientos-caja1 .pra1 {
              position: relative;
            left:-20%;
            margin-bottom: 5%;
            background:url("../imagenes/css2.png");
            background-size:cover; 
            height: 8%;
            
            }
            
            
            .conocimientos-caja1 .pra2 {
            left:-40%;
            background:url("../imagenes/sass2.png");
            background-size:cover; 
            height: 8%;
            
            } 
            
            
            .conocimientos-caja1 .pra3 {
            left:-60%;
            margin-bottom: 5%;
            background:crimson; 
            background-size:cover; 
            height: 8%;
            
            }
            
            
            
            
            .conocimientos-caja1 .pra4 {
              position: relative;
            left:-80%;
            
            background:url("../imagenes/boos.png"); 
            background-size:cover; 
            height: 8%;
            
            }
            
            
            
            
            
            .conocimientos-caja1 .pra5 {
            left:-100%;
            margin-bottom: 5%;
            background:url("../imagenes/materialize2.png");
            background-size:cover; 
            height: 8%;
            
            }
            
            
            
            .conocimientos-caja1 .pra6 {
              position: relative;
            left:-120%;
            
            background:url("../imagenes/js2.png");
            background-size:cover; 
            height: 8%;
            }
            
            
            
            .conocimientos-caja1 .pra7 {
            left:-140%;
            background:url("../imagenes/ts2.png");
            background-size:cover; 
            margin-bottom: 5%;
            height: 8%;
            }
            
            
            .conocimientos-caja1 .pra8 {
              position: relative;
            left:-160%;
            margin-bottom: 5%;
            height: 8%;
            
            }
            
            
            .conocimientos-caja1 .pra9 {
            left:-160%;
            background:url("../imagenes/angular.png");
            background-size:cover; 
            height: 8%;
            }
            
            .conocimientos-caja1 .pra10 {
            left:-180%;
            background:url("../imagenes/react.png");
            background-size:cover; 
            height: 8%;
            }
            
            
            
            
            
            .conocimientos-caja2    {
                position:relative;
                width:50%;
                height:80vh;
                z-index: 99999999999999999999999999999999999999;
                }
            
            
            
            .conocimientos-caja2 p{
            position: relative;
            width: 100%;
            height: 8%;
            background:var(--hora);
             
            margin:0vw 0vw 0vw 0vw;
            padding:0vw 0vw 0vw 0vw;  
            clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
             font-family: Segoe UI Symbol;
             font-weight: 1000;
             font-size: 1.3vw;
            
            }
            
            
            
            .top  {
            position: absolute;
            width: 100%;
            height: 100%;
            
            
            }
            
            .top .lus{
            position:absolute;
            top: 0;
            left:0;
            margin: 0vh 0vh 0vh 0vh;
            padding: 0vh 0vh 0vh 0vh;
            z-index: 1000;
            }
            
            .top .lus {
            position: absolute;
            bottom: 0;
            left:0;
            
            
            }
            
            
            
            
            
            
            
             .top .tus{
            position:absolute;
            bottom:  0;
            left:0;
            margin: 0vh 0vh 0vh 0vh;
            padding: 0vh 0vh 0vh 0vh;
            z-index: 1000;
            }
            
             .top .tus  {
            position: absolute;
            bottom: 0;
            left:0;
            
            
            }
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            .conocimiento-caja2 p:before {
            content: "HTML";
            position: absolute;
            width: 100%;
            height: 100%;
            background:rgb(255,0,0,0.2); 
            display: flex;
            justify-content: center;
            align-items: center;
            color:white;
            
            }
            
            
            
            
            
            
            
            .conocimientos-caja2  .pre1 {
            left:-20%;
            width:120%;
            clip-path: polygon(16.5% 0, 100% 0, 100% 100%, 0 100%);
            margin-bottom: 5%;
            }
            
            
            .conocimientos-caja2 .pre2 {
              position: relative;
              width: 140%;
            left:-40%; 
            clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%);
            
            }
            
            
            .conocimientos-caja2 .pre3 {
              position: relative;
              width: 160%;
            left:-60%; 
            clip-path: polygon(12.5% 0, 100% 0, 100% 100%, 0 100%);
            margin-bottom: 5%;
            }
            
            
            
            
            .conocimientos-caja2 .pre4 {
              position: relative;
              width: 180%;
            left:-80%; 
            clip-path: polygon(11% 0, 100% 0, 100% 100%, 0 100%);
            
            }
            
            
            
            .conocimientos-caja2 .pre5 {
              position: relative;
              width: 200%;
            left:-100%; 
            clip-path: polygon(9.5% 0, 100% 0, 100% 100%, 0 100%);
            margin-bottom: 5%;
            }
            
            
            
            .conocimientos-caja2 .pre6 {
              position: relative;
              width: 220%;
            left:-120%; 
            clip-path: polygon(8.5% 0, 100% 0, 100% 100%, 0 100%);
            
            }
            
            
            
            
            
            .conocimientos-caja2 .pre7 {
              position: relative;
              width: 240%;
            left:-140%; 
            clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
            margin-bottom: 5%;
            }
            
            
            .conocimientos-caja2 .pre8 {
              position: relative;
              width: 260%;
            left:-160%; 
            clip-path: polygon(7.7% 0, 100% 0, 100% 100%, 0 100%);
            margin-bottom: 5%;
            }
            
            
            
            .conocimientos-caja2 .pre9 {
              position: relative;
              width: 260%;
            left:-160%; 
            clip-path: polygon(7.7% 0, 100% 0, 100% 100%, 0 100%);
            
            }
            
            
            .conocimientos-caja2 .pre10 {
              position: relative;
              width: 280%;
            left:-180%; 
            clip-path: polygon(7.2% 0, 100% 0, 100% 100%, 0 100%);
            
            }
            
            
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  